In [1]:
from scipy import stats
from IPython.display import display
import numpy as np
import pandas as pd
from anova import *
from linear_regression import *

In [2]:
DATA_PATH = r"D:\Users\suuser\Documents\GitHub\Toolbox-for-ANOVA-and-Linear-Regression"
data = pd.read_csv("{}{}".format(DATA_PATH,r"\test_data\winequality-red.csv"),delimiter=";")
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
design = data[data.columns[:-1]].values
response = data["quality"].values

In [4]:
Mult_LR_Least_squares(design,response)

{'beta': array([ 4.19374044e-03, -1.09974310e+00, -1.84145975e-01,  7.07117376e-03,
        -1.91141882e+00,  4.54780885e-03, -3.31855188e-03,  4.52914616e+00,
        -5.22898302e-01,  8.87076125e-01,  2.97022815e-01]),
 'sigmaSqr': 0.42020271612347543}

In [17]:
SSw

827.1749999999998

In [ ]:
SStotal, SSw, SSb = ANOVA1_partition_TSS(data).values()

In [96]:
I = len(data)
J = len(data[0])
K = len(data[0][0])
meanAll = np.mean([k for j in [j for i in data for j in i] for k in j]) #linearize the data then get mean
meansI = [np.hstack(i).mean() for i in data]
meansJ = [np.mean(j) for j in zip(*[i for i in data])]
meansIJ = [[np.mean(j) for j in i] for i in data]
    
SSa = J*K*sum((meansI[i]-meanAll)**2 for i in range(I))
SSb = I*K*sum((meansJ[j]-meanAll)**2 for j in range(J))
SSab = K*sum(sum((meansIJ[i][j]-meansJ[j]-meansI[i]+meanAll)**2 for j in range(J)) for i in range(I))
SSe = sum(sum(sum((data[i][j][k]-meansIJ[i][j])**2 for k in range(K)) for j in range(J)) for i in range(I))

In [102]:
[[meansIJ[i][j]-meansJ[j]-meansI[i]+meanAll for j in range(J)] for i in range(I)]

[[2.4375, -0.8125, -0.8125, -0.8125], [-2.4375, 0.8125, 0.8125, 0.8125]]

In [98]:
SSb

1673.0

In [99]:
SSab

63.375

In [100]:
SSe

596.5

In [77]:
[np.mean(k) for k in [j for i in data for j in i]]

[24.5, 31.2, 20.25, 13.0, 20.166666666666668, 31.2, 20.25, 13.0]

In [48]:
import itertools
[sum(x)/len(x) for x in zip(*[i for i in data])]

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [37]:
[item for sublist in data for item in sublist]

[[28, 23, 14, 27, 31, 24],
 [33, 36, 34, 29, 24],
 [18, 21, 20, 22],
 [11, 14, 11, 16],
 [28, 23, 14, 27, 31, 24],
 [33, 36, 34, 29, 24],
 [18, 21, 20, 22],
 [11, 14, 11, 16]]

In [30]:
np.mean([k for j in [j for i in data for j in i] for k in j])

[[28, 23, 14, 27, 31, 24],
 [33, 36, 34, 29, 24],
 [18, 21, 20, 22],
 [11, 14, 11, 16],
 [28, 23, 14, 27, 31, 24],
 [33, 36, 34, 29, 24],
 [18, 21, 20, 22],
 [11, 14, 11, 16]]

In [23]:
np.mean([np.mean([np.mean(j) for j  in i]) for i in data])

22.2375

In [8]:
np.mean([28,23,14,27,31,24,33,36,34,29,24,18,21,20,22,11,14,11,16,28,23,14,27,31,24,33,36,34,29,24,18,21,20,22,11,14,11,16])

22.94736842105263

In [3]:
ANOVA1_test_equality(data)

         df          SS         MS         F
SSb       3  174.726875  58.242292  3.001664
SSw      15  291.050000  19.403333       NaN
SStotal  18  465.776875        NaN       NaN

Critical value: 3.2873821046365115
p-value: 0.9363073046018389
Decision: Reject the null hypothesis, H0, at the 0.05 level of significance.

In [4]:

crit = 2.8450678052793514
stats.f.cdf(crit, dfn=3, dfd=39)

0.9500000000000001

In [5]:
stats.f.ppf(q=1-0.05, dfn=3, dfd=39)

2.8450678052793514

In [7]:
ANOVA1_is_contrast([1,-2,1])

True